.main {
    margin: 20px 150px 20px 150px;
}

.linkToHomepage {
    text-decoration: none;
}

.linkToHomepage:visited {
    color: inherit;
}


.linkToAbout {    
    text-decoration: none;
}

.linkToAbout:visited {
    color: #F44B87;
}

.pathToAbout {
    margin-bottom: 80px;
}

.title-top {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 27px;
}

.title-bottom {
    font-family: 'Times New Roman', Times, serif;
    color: #F44B87;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

.foodInfor ul {
    list-style-type: none;
    padding-left: 0px;
}

.foodInfor ul li {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

.foodInfor ul li img{
    margin-right: 35px;
}

.price {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.promotion {
    font-size: 20px;
}

.dish {
    width: 100%;
    height: 90%;
}

.accessSubs {
    margin-top: 100px;
}

.accessSubs .title {
    font-family: 'Times New Roman', Times, serif;
    color: #F44B87;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.subscribe {
    margin-top: 170px;
    text-align: center;
}

.subscribe .title {
    font-family: 'Times New Roman', Times, serif;
    color: #F44B87;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 22px;
}

.descriptionSubs {
    font-size: 20px;
    margin-bottom: 40px;
}

.space {
    margin: 40px;
}