button {
    width: 95%;
    height: 50px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 20px;
}

img {
    margin-right: 15px;
    padding-bottom: 2px;
}

.pay {
    color: white;
    background-color: #F44B87;
    border: 0;
}

.notpay {
    background-color: white;
    color: #F44B87;
    border: 0;
}

.after {
    width: 26%;
}